<div class="ui-g dashboard">
 
        <div class="ui-g-12 ui-md-3 ui-lg-3">
                <div class="ui-g overview-box overview-box-1" style="min-height: 118px">
                    <div class="ui-g-12 ui-md-5 ui-lg-5 overview-box-icon">
                        <img src="assets/layout/images/dashboard/startup.svg"/>
                    </div>
                    <div class="ui-g-12 ui-md-7 ui-lg-7" style="justify-content: center;">
                            <span class="overview-box-count">3216</span>
                            <span class="overview-box-name">PROVEEDORES</span>
                    </div>
                </div>
        </div>
        
        <div class="ui-g-12 ui-md-3 ui-lg-3">
                <div class="ui-g overview-box overview-box-1" style="min-height: 118px">
                    <div>
                        <div class="c100 p83 small green">
                                <span>83</span>
                                <div class="slice">
                                    <div class="bar"></div>
                                    <div class="fill"></div>
                                </div>
                        </div>
                        <div class="ui-g-2">
                            <span class="overview-box-name"><strong>INFORMACIÓN</strong></span>
                            <span class="overview-box-green">10%</span>
                        </div>
                    </div>
                </div>
        </div>     
        
        <div class="ui-g-12 ui-md-3 ui-lg-3">
                <div class="ui-g overview-box overview-box-1" style="min-height: 118px">
                    <div>
                        <div class="c100 p43 small red">
                                <span>43</span>
                                <div class="slice">
                                    <div class="bar"></div>
                                    <div class="fill"></div>
                                </div>
                        </div>
                        <div class="ui-g-2">
                            <span class="overview-box-name"><strong>REPUTACIÓN</strong></span>
                            <span class="overview-box-green">10%</span>
                        </div>
                    </div>
                </div>
        </div> 

        <div class="ui-g-12 ui-md-3 ui-lg-3">
                <div class="ui-g overview-box overview-box-1" style="min-height: 118px">
                    <div>
                        <div class="c100 p60 small yellow">
                                <span>60</span>
                                <div class="slice">
                                    <div class="bar"></div>
                                    <div class="fill"></div>
                                </div>
                        </div>
                        <div class="ui-g-2">
                            <span class="overview-box-name"><strong>CONFIANZA</strong></span>
                            <span class="overview-box-green">10%</span>
                        </div>
                    </div>
                </div>
        </div>           
        
</div>

<tablaresumen></tablaresumen>